{#
/**
 * @file
 * Default theme implementation for a HTML5 video player.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - extravalue: The extra video attributes.
 * - media_link: A link to the file.
 * - mimetype: The MIME type of the file.
 * - value: Whether to provide a Download Link or not.
 *
 * @see template_preprocess_media_video_file_formatter()
 *
 * @ingroup themeable
 */
#}
<video {{ extravalue }}>
  <source src="{{ media_link }}" type="{{ mimetype }}">
</video>
{% if value %}
  <a href="{{ media_link }}" target="_blank" download>{{ 'Download'|t }}</a>
{% endif %}
